// main.scss or App.scss
@use 'sass:color';
@use '../variables' as v;
// Import your variables partial
@import 'leaflet/dist/leaflet.css';

/* General Body Styles */
body {
  background-color: v.$bg-primary;
  font-family: 'Sour Gummy', sans-serif;
  color: v.$text-primary;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box; // Good practice for consistent box model
}


/* Link Styles */
a {
  color: v.$primary-pink;
  text-decoration: none;
  transition: color v.$transition-speed ease;

  &:hover {
    color: color.adjust(v.$primary-pink, $lightness: -15%); // Darken the link color on hover
    text-decoration: underline;
  }
}

/* Button Styles (Example) */
.button {
  display: inline-block;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: v.$border-radius;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  text-decoration: none; // Ensure no underline for button links
  transition: background-color v.$transition-speed ease, color v.$transition-speed ease;

  &--primary {
    background-color: v.$primary-pink;
    color: v.$text-light;

    &:hover {
      background-color: color.adjust(v.$primary-pink, $lightness: 10%); // Lighten on hover
      color: v.$text-light;
    }
  }

  &--secondary {
    background-color: v.$blue-grey-sky;
    color: v.$text-light;

    &:hover {
      background-color: color.adjust(v.$blue-grey-sky, $lightness: -10%);;
    }
  }

  // You can add more button styles here
}

/* Layout/Section Styles (Examples) */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: v.$spacing-unit * 2;
}

.section {
  padding: v.$spacing-unit * 2 v.$spacing-unit * 3;
  margin-bottom: v.$spacing-unit * 2;

  &--hero {
    background-color: v.$bg-hero;
    color: v.$text-light;
  }

  &--light {
    background-color: v.$bg-section-light;
  }

  &--pink {
    background-color: v.$bg-section-pink;
  }
}

@media  (max-width: 600px) {
  .section {
    padding: v.$spacing-unit * 1.5 v.$spacing-unit * 2;
  }

  .container {
    padding: v.$spacing-unit;
  }

  .button {
    padding: 0.6em 1.2em; // Smaller button padding
  }
}

// Add any other global styles you need